/* Box Model Hack */
*{
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************************************
/* MAIN LAYOUT
/*******************************************/

/*******************************************/
/* PROJECT DESCRIPTION */
/*******************************************/

/*******************************************/
/* BUTTONS */
/*******************************************/

/*******************************************/
/* Social Icons & logo*/
/*******************************************/

/*******************************************/
/* LINKS */
/*******************************************/

/*******************************************/
/* ABOUT ME & PROJECT SECTION */
/*******************************************/

/*******************************************/
/* Headshot Container*/
/*******************************************/
.headshot {
  width: 300px;
  margin: auto;
  clip-path: circle();
}

.headshot-container {
  display: flex;
  align-items: center;
}



/*******************************************/
/* PROJECT SECTION */
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/