
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

html{
  font-size: 62.5%;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background-image: -o-radial-gradient(#2d5ec6 3%, transparent 0%),
    -o-radial-gradient(#2d5ec6 3%, transparent 0%);
  background-image: radial-gradient(#2d5ec6 3%, transparent 0%),
    radial-gradient(#2d5ec6 3%, transparent 0%);
  background-color: hsl(240, 24%, 28%);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  height: 100vh;
  text-align: center;
}

/******************************************
/* MAIN LAYOUT
/*******************************************/
ul{
  display: flex;
  justify-content: center;
}

.main{
  display: flex;
}
header,
footer {
  background-image: url(../assets/github-banner.jpg);
  max-width: 100%;
  background-size: cover;
  background-position: 0cm -43cm;
  margin: 0;
  padding: 0;
}
.hamburger{
  display: none;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ff9eb6;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 2rem;
  font-weight: 400;
  color: #ff9eb6;
}

.nav-link:hover{
  color: #482ff7;
}

@media only screen and (max-width: 768px){
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #07b39b;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0,0,0,0.5);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger{
    min-width: 1rem;
    display: block;
    cursor: pointer;
  }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ff9eb6;
  }
  #home p {
    max-width: 50%;
  }
  
  /* hamburger menu to display here and have a drop down menu for the nav links */
}
/* @media screen and (min-width: 993px){
  .hamburger{
    display: none;
  }
} */

#home p,
#about p,
#work p,
#contact p,
#contact ul {
  margin: auto;
  padding: 0;
}

#home p {
  max-width: 60%;
}

#about p {
  max-width: 69%;
}

#about p {
  font-size: 2rem;
}

#contact p {
  max-width: 45%;
}
.projects {
  width: 70%;
  height: 50%;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-item{
  width: auto;
  height: 100%;
  border: 2px solid hsla(240, 24%, 28%, 0.702);
}

#projects {
  height: 100%;
  width: 100%;
  background-color: hsla(240, 24%, 28%, 0.702);
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

}

#gallery-container {
  width: 50%;
  height: 50%;
}

h1,
h2,
h3,
h4,
.resume h1 {
  font-family: "Zen Loop", cursive;
  text-transform: uppercase;
  font-weight: 400;
  color: #ff9eb6;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h1 {
  font-size: 80px;
  margin-top: 20px;
}
h2,
h3,
h4,
h5 {
  font-size: 70px;
  margin-top: 40px;
}

p,
a {
  font-family: "Comfortaa", cursive;
  font-size: 3rem;
  font-weight: 300;
  line-height: 40px;
  color: #e8e2e2;
  text-align: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
  height: 9rem;
}

#social-links > ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;      
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  max-width: 100%;
}

/* Gradient Border */

.gradient-border {
  --borderWidth: 8px;
  background: hsla(240, 24%, 28%, 0.702);
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: -o-linear-gradient(
    30deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 30s ease alternate infinite;
          animation: animatedgradient 30s ease alternate infinite;
  background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #ff9eb6;
  font-size: 30px;
}

footer a {
  color: hsla(240, 24%, 28%, 1);
  font-size: 36px;
}

/* Headshot Experiment */
.headshot-container {
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.box {
  width: 35vmin;
  height: 35vmin;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(1.42);
        -ms-transform: scale(1.42);
            transform: scale(1.42);
  }
}

.spin-container {
  width: 100%;
  height: 100%;
  -webkit-animation: morph 8s ease-in-out;
          animation: spin 12s linear infinite;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  -webkit-transition: border-radius 1s ease-out;
  -o-transition: border-radius 1s ease-out;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  -webkit-animation: morph 8s ease-in-out infinite both alternate;
          animation: morph 8s ease-in-out infinite both alternate;                         
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.image {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: url(../assets/headshot1.jpg);
  background-size: 136%;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  /* animation: spin 12s linear infinite reverse; */
  opacity: 1;
  z-index: 2;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav ul > li,
a {
  padding: 25px;
  list-style-type: none;
  text-decoration: none;
}

.socials {
  list-style: none;
  max-width: 25%;
}
.resume {
  color: white;
  width: 11rem;
  height: 5rem;
  font-weight: 500;
  border-radius: 40px;
  font-size: 4rem;
  background-color: #ff9eb6;
  font-family: "Zen Loop", cursive;
  font-variant: all-small-caps;
}
.fa-linkedin, .fa-twitter, .fa-envelope, .fa-github{
  font-size: 60px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          align-items: center;
  margin: 4rem;
  max-height: 125px;
}

